<html>

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif
    }
  </style>
</head>

<body>
  <strong>Hi, {{ ad.author.name }}</strong>
  <p>You has a new purchase notification at the product: {{ ad.title }}</p>
  <br>
  <strong>{{ user.name }} ({{ user.email }}): </strong>
  <p>{{ content }}</p>
</body>

</html>
